@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto";
 }

:root{
  --main-color: #FFFFFF;
  --header-clr: #F5F7FA;
  --text-clr: #333333;
  --soft-blue: #3A86FF;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}

.main-container{
  display:flex;
  background-color: var(--main-color);
  height: 100vh;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header-clr);
  width: 20vw;
  height: 100vh;
  gap: 1em;
}

.main{
  flex-grow: 1;
}

#myModal{
  display: none; 
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 50%;
  height: 50%;
  transform: translateX(-50%); /* Adjust for centering */
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--main-color);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
}

.modal-content input:nth-child(1){
  color:black;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
}

.modal-content input{
  border:none;
}

.todo-item{
  display: flex;
  gap: 10px;
  width: 600px;
  max-width: 600px;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
}

.todoContent{
  border-bottom: 1px solid gray;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description{
  color: gray;
  width: 600px;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.toggle-btn{
  width: 30px;
  height: 30px;
  border: 4px solid gray;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: background-color 2s;
}

.severe{
  border: 4px solid red;
}

.high{
  border: 4px solid orange;
}

.mild{
  border: 4px solid green;
}

.low{
  border: 4px solid blue;
}

#openModal{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#openModal i{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  background-color: var(--soft-blue);
  display: flex; /* Use flexbox for the icon */
  justify-content: center; /* Center icon horizontally */
  align-items: center; /* Center icon vertically */
}

#todoModal{
  display: none; 
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 50%;
  height: 50%;
  transform: translateX(-50%); /* Adjust for centering */
}

.btn {
  background-color: var(--soft-blue);
  color: white;
  padding: 7px;
  border-radius: 5px;
  margin-right: 10px; 
  font-size: 1em;
  border: none;
}

.cancel{
  padding: 7px;
  border-radius: 5px;
  margin-right: 10px; 
  font-size: 1em;
  border: none;
}

.wrap-text {
  max-width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.title{
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.date{
  margin: 0;
}

#createProject{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#createProject i{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  background-color: var(--soft-blue);
  display: flex; /* Use flexbox for the icon */
  justify-content: center; /* Center icon horizontally */
  align-items: center; /* Center icon vertically */
}

